.vscode/**
.vscode-test/**
src/**
out-test/**
.gitignore
.yarnrc
esbuild.mjs
esbuild.test.mjs
tsconfig.json
**/*.map
**/*.ts
node_modules/**
**/.eslintrc.json
**/.eslintignore
scripts/install-user.sh
scripts/install-workspace.sh
scripts/uninstall.sh
.github/**
docs/**
tmp/**
*.log
*.vsix
